.films {
  padding: 20px;

  h2 {
    padding-bottom: 10px;
  }
    .filmsGallery{
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5px;



      &__item{

        img {
          width: 240px;
        }
      }

}
}

.imagen {
  border-radius: 10px;
}

h3 {
  padding-bottom: 10px;
}
